.flatico{
    width: 27px;
    height: 27px;
}
.leftbar{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: fit-content;
    padding: 0 14px;
    z-index: 999;
    background-color: rgb(255, 255, 255);
    border-right: 0.1px solid rgb(248, 248, 248);
    box-shadow: inset;
    position: fixed;
    top:2px;
}
.country{
    display: flex;
    flex-direction: column;
}
.country img{
    margin:16px 0;
    cursor: pointer;
}
.logoimg{
    width: 32px;
    height: 32px;
    margin-bottom: 9vh;
    margin-top: 31px;

}
@media screen and (max-width:500px){
    .leftbar{
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: fit-content;
        padding: 0 4px;
        z-index: 999;
        background-color: rgb(255, 255, 255);
    }
   
}