.imageurl img{
    width:92%;
    height: 250px;
    border-radius: 16px;
    margin-bottom: 9px;
}
.headlines h3{
    font-size: 22px;
    margin-bottom: 22px;
}
.newsframe{
    width: 96%;
    margin-left: auto;
}
.description p{
    font-size: 18px;
}
.newsbox{
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;padding:0 16px
}
.buttonreadmore button{
    background-color: transparent;
    width: 165px;
    height: 39px;
    border: 1px solid rgb(121,121,121);
    margin: 9px 0;
    border-radius: 15px;
    
}
.buttonreadmore button:hover  .buttonreadmore button a:hover{
    background-color: gray;
    color: black;
}
.buttonreadmore button a{
    font-size: 16px;
    color: rgb(126, 126, 126);
    text-decoration: none;

}
.newsbox{
    margin-bottom: 12px;
}